<ng-container *ngIf="(booksState$ | async) as state " [ngSwitch]="state.appState">


  <ng-container>
    <app-filter-sort  (filterChanged)="applyFilters($event)"
    (sortChanged)="sortBy($event)"  ></app-filter-sort>
  </ng-container>

  <div class="bookshelf-main row mt-4">

    <ng-container *ngSwitchCase="'APP_ERROR'">
      <span style="color:red"> Error in retrieving data.</span>
    </ng-container>

    <ng-container *ngSwitchCase="'APP_LOADING'">
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-container>

    <ng-container  *ngSwitchCase="'APP_LOADED'">
      <app-book class= "container-flex"  [bookInput]="book" *ngFor="let book of state.appData.data.page.content" ></app-book>
    </ng-container>

  </div>

  <ng-container class="row" >
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item pointer" [ngClass]="0 === (currentPage$ | async) ? 'disabled' : '' ">
          <a (click)="goToNextOrPreviousPage('backward')" class="page-link" >Previous</a>
        </li>
        <li *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i=index;"
          class="page-item pointer" [ngClass]="i == (currentPage$ | async) ? 'active' : '' ">
          <a (click)="goToPage(i)" class="page-link">
            {{i+1}}
          </a>
        </li>
        <li class="page-item pointer"  [ngClass]="(state.appData.data.page.totalPages-1) === (currentPage$ | async) ? 'disabled' : '' ">
          <a (click)="goToNextOrPreviousPage('forward')" class="page-link">Next</a>
        </li>
      </ul>
    </nav>

  </ng-container>

</ng-container>
