<section>
  <div class="container">
    <div class="row mt-4 mb-3">
      <div class="col-6">
        <h1 class="cart-title ml-4">Carrello degli acquisti</h1>
      </div>
    </div>
    <ng-container *ngIf="cartItems$ | async as cartItems; else emptyCart">

      <ng-container *ngIf="cartItems.length !=0; else emptyCart">

        <table mat-table [dataSource]="cartItems" class="mat-elevation-z8">
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef class="item-column-header">Articolo</th>
            <td mat-cell *matCellDef="let item" class="item-column">
              {{ item.book.title }} -
              <ng-container *ngFor="let author of item.book.authors; let last = last">
                {{ author.name }}<span *ngIf="!last">,</span>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="unitprice">
            <th mat-header-cell *matHeaderCellDef class="price-column-header">Prezzo unitario*</th>
            <td mat-cell *matCellDef="let item" class="price-column">{{ item.book.price | currency : 'EUR' : 'symbol' : '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="qty-column-header">Quantità</th>
            <td mat-cell *matCellDef="let item" class="qty-column">
              <span class="d-flex">
                <button mat-icon-button class="ml-2" (click)="decreaseQuantity(item.book)">
                  <mat-icon>remove</mat-icon>
                </button>
                <span class="align-self-center">{{ item.quantity }}</span>
                <button mat-icon-button class="mr-2" (click)="increaseQuantity(item.book)">
                  <mat-icon>add</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="qty-column-header">Prezzo</th>
            <td mat-cell *matCellDef="let item" class="qty-column">{{ item.quantity * item.book.finalPrice | currency: 'EUR' : 'symbol' : '1.2-2' }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['item', 'unitprice', 'quantity', 'price']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['item', 'unitprice', 'quantity', 'price']"></tr>
        </table>
        <sub>*Lo sconto è già stato applicato</sub>
        <br>

        <div class="mt-4 p-0 d-flex">
          <div class="col-lg-6">
            <button mat-button class="themed-button mr-4" (click)="goToLink('/')">Continua lo shopping</button>
            <button mat-button class="themed-button" (click)="reset()">Reset</button>
          </div>

          <div class="col-lg-6 justify-items-end">
            <button mat-button class="themed-button" (click)="goToLink('/checkout')">CHECK-OUT (Totale: {{ totalAmount | currency: 'EUR' : 'symbol' : '1.2-2'}}) </button>
          </div>
        </div>

      </ng-container>
    </ng-container>

    <!-- Empty cart template -->
    <ng-template #emptyCart>
      <div class="row">
        <div class="col-lg-6">
          <img src="../../../assets/images/empty-shopping-cart.webp" alt="" class="shoppingCart">
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div>
            <h2>Il tuo carrello è vuoto...</h2>
            <button mat-button class="themed-button" routerLink="/">Continua lo shopping</button>
          </div>
        </div>
      </div>
    </ng-template>

  </div>

</section>

