<!-- FILEPATH: /c:/psw-project/BookHavenFrontend/bookhaven-project/src/app/shared/footer/footer.component.html -->

<footer class="row">
  <div class="col-md-4">
    <h3 class="clickable" >Chi Siamo</h3>
    <h3 class="clickable">Contattaci</h3>

  </div>

  <div class="col-md-4">
    <h3>Altri:</h3>
    <div class="d-flex flex-column">
      <a href="#" class="footerLink">Blog</a>
      <a href="#" class="footerLink">Link2</a>
      <a href="#" class="footerLink">Carte Regalo"</a>
      <a href="#" class="footerLink">Termini e Condizioni</a>
      <a href="#" class="footerLink">Politica di Reso e Rimborso</a>

    </div>
  </div>
  <div class="col-md-4">

    <ng-container>
      <h3>Seguici:</h3>
      <div class="social-icons">
        <mat-icon><a href="#"><i class="fab fa-facebook"></i></a></mat-icon>
        <mat-icon><a href="#"><i class="fab fa-twitter"></i></a></mat-icon>
        <mat-icon><a href="#"><i class="fab fa-google-plus"></i></a></mat-icon>
        <mat-icon><a href="#"><i class="fab fa-linkedin"></i></a></mat-icon>
        <mat-icon><a href="#"><i class="fab fa-instagram"></i></a></mat-icon>
      </div>
    </ng-container>

    <ng-container >
    <div class="mt-4 ">
      <h3>Pagamenti con:</h3>
      <div>Paypal</div>
      <div>Visa</div>
      <div>Mastercard</div>
      <div>American Express</div>
    </div>
  </ng-container>
  </div>

  <div class="row">
    <div class="col-md-12 copy">
      <p>© 2023 Book Haven. Tutti i diritti riservati.</p>
    </div>
  </div>

</footer>

