<ng-container>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef class="item-column-header" >Item</th>
      <td mat-cell *matCellDef="let item" class="item-column-header" >{{ item.book.title }}  by
        <ng-container *ngFor="let author of item.book.authors; let last = last">
        {{ author.name }}
        <span *ngIf="!last">,</span>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="unitprice">
      <th mat-header-cell *matHeaderCellDef class="price-column-header" >Unit Price*</th>
      <td mat-cell *matCellDef="let item" class="price-column-header" >{{ item.book.price | currency : 'EUR' : 'symbol' : '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="qty-column-header">Quantity</th>
      <td mat-cell *matCellDef="let item" class="qty-column-header">
        <span class="d-flex">
          <span class="align-self-center z-index-10">{{ item.quantity }}</span>
        </span>

        </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="qty-column-header">Price</th>
      <td mat-cell *matCellDef="let item" class="qty-column-header">{{ item.quantity * item.book.price | currency: 'EUR' : 'symbol' : '1.2-2' }}</td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="['item', 'unitprice', 'quantity', 'price']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['item', 'unitprice', 'quantity', 'price']"></tr>

  </table>
  <sub>Discount already applied</sub>
  <br>
  <mat-divider class="m-4"></mat-divider>
  <div>
    <h2>Total Price: {{totalPrice | currency: 'EUR' : 'symbol' : '1.2-2'}}</h2>
  </div>
</ng-container>



