<section>
  <div class="banner mb-4">
    <div class="row container">
      <div class="col-6 banner-left-column">
        <img class="bannerimage" src="../../../../assets/images/special-offers-img.jpg" alt="Special Offers" >
      </div>
      <div class="col-6 banner-right-column">
        <h1>Special Offers on BookHaven</h1>
        <a href="/about" target="_blank">By BookHaven</a> <!-- ABout link -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mb-4">
      <h2>Special Offers</h2>
      <p>Check out our special offers on books!</p>
    </div >

    <div class="row">
      <div class=" mt-4 books" *ngFor="let book of discountedbooks">
        <mat-card class="book-card ml-5 mb-2 ">
            <div class="discount-container">
              <p class="discount">{{book.book.discount}}%!</p>
              <img class="discountStar" src="../../../../assets/images/discountStar.png" alt="">
            </div>
          <img mat-card-image  class="bookimage" [src]="book.book.coverUrl" alt="book-cover">
          <div class="card-container">
            <mat-card-title class="text-center">{{book.book.title}}</mat-card-title>
            <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
            <div class="d-flex">
              <p class="oldPrice mr-4">€{{book.book.price}} </p>
              <p class="newPrice mr-4">
                €{{ book.book.price| number : '1.2-2'}}
              </p>
            </div>
          </div>
          <button matbutton class="themed-button" (click)="goToBookDetails(book.book.id)">More about this Book</button>
          </mat-card>
       </div>
    </div>



  </div>
</section>
