.book-card {
  border: 1px, solid, var(--dark-brown);
  width: 250px;
  background-color: var(--nude-color);
  border-radius: 10px;
  margin: 50px, 20px;
  padding-left: 0;
  padding-right: 5px;
  margin-bottom: 50px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px grey;
  height: 155px;
  /* transition: transform 0.3s ease-in-out; */
}

.book-card:hover {
  box-shadow: 5px 5px 20px grey;
  /* transform: translateY(-1rem); */
  cursor: pointer;
}

.book-imageUrl {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 110px !important;
  height: 155px !important;
  cursor: pointer;
}

.book-content {
  padding: 10px;
}

.title-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-bottom: 2px;
}


.book-title {
  font-size: 20px;
  font-weight: bold;
}

.book-card-button {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.priceContainer {
  justify-content: space-between;
  height: 25px;
  width: 125px;
}

.oldPrice {
  color: red;
  text-decoration: line-through;
}

.themed-button-1 {
  border-radius: 5px;
  border: none;
  padding: auto;
  background-color: var(--dark-brown);
  color: var(--nude-color);
  outline: none;
  cursor: pointer;
}

.themed-button-1:hover {
  background-color: var(--nude-color);
  border: solid 1px var(--dark-brown);
  color: var(--dark-brown);
}