<div class="fixedSideNav p-4">
  <ul class="d-flex flex-column">
    <li [ngClass]="{'selected': selectedLink === 'manage-products'}" class="sideNavButton">
      <button routerLink="/admin/manage-products" (click)="selectedLink = 'manage-products'">Gestione Prodotti</button>
    </li>
    <li [ngClass]="{'selected': selectedLink === 'manage-customers'}" class="sideNavButton">
      <button routerLink="/admin/manage-customers" (click)="selectOption('manage-customers')">Gestione Clienti</button>
    </li>
    <li [ngClass]="{'selected': selectedLink === 'manage-orders'}" class="sideNavButton">
      <button routerLink="/admin/manage-orders" (click)="selectedLink = 'manage-orders'">Gestione Ordini</button>
    </li>
    <li [ngClass]="{'selected': selectedLink === 'add-new-book'}" class="sideNavButton">
      <button routerLink="/admin/add-new-book" (click)="selectedLink = 'add-new-book'">Aggiungi Nuovo Libro</button>
    </li>
  </ul>
</div>
