
<ng-container *ngIf="bookDetailPage; else mainPageButton">
  <button mat-button class="themed-button" (click)="addToCart(book)" *ngIf="!this.bookIsInCart(book)">
     <mat-icon>shopping_basket</mat-icon>
     Add to cart
   </button>

   <button mat-button class="themed-button"(click)="goToLink('/cart')" *ngIf="this.bookIsInCart(book)">
     <mat-icon>shopping_basket</mat-icon>
     Go to cart
   </button>

</ng-container>

<ng-template #mainPageButton >
 <button class="themed-button-1  " (click)="addToCart(book)" *ngIf="!this.bookIsInCart(book)"> Add to cart</button>
 <button class="themed-button-1 " *ngIf="this.bookIsInCart(book)" (click)="goToLink('/cart')"> Go to cart</button>
</ng-template>

